body {
    background-image: linear-gradient(to bottom right, rgb(224, 200, 200), rgb(238, 238, 137), rgb(200, 240, 241));
}

#top {
    display: flex;
    align-items: center;
    justify-content: center;
}

#img {
    width: 60px;
}